In [1]:
import pandas as pd
import numpy as np

In [2]:
baby_names = pd.read_csv("baby_names.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa9 in position 10: invalid start byte

In [3]:
!uchardet baby_names.csv

windows-1252

In [4]:
baby_names = pd.read_csv("baby_names.csv", encoding="windows-1252")

In [5]:
baby_names.head(15)

,Top Five Baby Names,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Source: http://www.ssa.gov/oact/babynames/top5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Note: data includes top five male and female b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Females,NaN,NaN,NaN,NaN,Males,NaN,NaN,NaN,NaN
8,Year,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5
9,2013,Sophia,Emma,Olivia,Isabella,Ava,Noah,Liam,Jacob,Mason,William
10,2012,Sophia,Emma,Isabella,Olivia,Ava,Jacob,Mason,Ethan,Noah,William
11,2011,Sophia,Isabella,Emma,Olivia,Ava,Jacob,Mason,William,Jayden,Noah
12,2010,Isabella,Sophia,Emma,Olivia,Ava,Jacob,Ethan,Michael,Jayden,William
13,2009,Isabella,Emma,Olivia,Sophia,Ava,Jacob,Ethan,Michael,Alexander,William
14,2008,Emma,Isabella,Emily,Olivia,Ava,Jacob,Michael,Ethan,Joshua,Daniel

In [6]:
baby_names.tail()

,Top Five Baby Names,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
107,1915,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Joseph
108,1914,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Joseph
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,"Copyright © 2014, SAS Institute Inc., Cary, NC...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
baby_names = pd.read_csv("baby_names.csv", encoding="windows-1252", header=[8, 9], skip_footer=3, engine="python")
baby_names.head()

,Unnamed: 0_level_0,Females,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Males,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0
,Year,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5
0,2013,Sophia,Emma,Olivia,Isabella,Ava,Noah,Liam,Jacob,Mason,William
1,2012,Sophia,Emma,Isabella,Olivia,Ava,Jacob,Mason,Ethan,Noah,William
2,2011,Sophia,Isabella,Emma,Olivia,Ava,Jacob,Mason,William,Jayden,Noah
3,2010,Isabella,Sophia,Emma,Olivia,Ava,Jacob,Ethan,Michael,Jayden,William
4,2009,Isabella,Emma,Olivia,Sophia,Ava,Jacob,Ethan,Michael,Alexander,William

In [8]:
baby_names.tail()

,Unnamed: 0_level_0,Females,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Males,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0
,Year,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5,Rank 1,Rank 2,Rank 3,Rank 4,Rank 5
95,1918,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Charles
96,1917,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Joseph
97,1916,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Joseph
98,1915,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Joseph
99,1914,Mary,Helen,Dorothy,Margaret,Ruth,John,William,James,Robert,Joseph

In [9]:
genders = ('female', 'male')
ranks = ('1', '2', '3', '4', '5')
columns = [(gender, rank) for gender in genders for rank in ranks]
columns

[('female', '1'),
 ('female', '2'),
 ('female', '3'),
 ('female', '4'),
 ('female', '5'),
 ('male', '1'),
 ('male', '2'),
 ('male', '3'),
 ('male', '4'),
 ('male', '5')]

In [10]:
index = pd.MultiIndex.from_tuples(columns)

In [11]:
index

MultiIndex(levels=[['female', 'male'], ['1', '2', '3', '4', '5']],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4]])

In [12]:
baby_names = pd.read_csv("baby_names.csv", encoding="windows-1252", 
                         header=9, index_col=0, names=index)
baby_names.head()

        female                                      male                  \
             1         2         3         4    5      1      2        3
2013    Sophia      Emma    Olivia  Isabella  Ava   Noah   Liam    Jacob
2012    Sophia      Emma  Isabella    Olivia  Ava  Jacob  Mason    Ethan
2011    Sophia  Isabella      Emma    Olivia  Ava  Jacob  Mason  William
2010  Isabella    Sophia      Emma    Olivia  Ava  Jacob  Ethan  Michael
2009  Isabella      Emma    Olivia    Sophia  Ava  Jacob  Ethan  Michael


              4        5
2013      Mason  William
2012       Noah  William
2011     Jayden     Noah
2010     Jayden  William
2009  Alexander  William

In [13]:
baby_names.stack(0)

                    1         2         3          4            5
2013 female    Sophia      Emma    Olivia   Isabella          Ava
     male        Noah      Liam     Jacob      Mason      William
2012 female    Sophia      Emma  Isabella     Olivia          Ava
     male       Jacob     Mason     Ethan       Noah      William
2011 female    Sophia  Isabella      Emma     Olivia          Ava
     male       Jacob     Mason   William     Jayden         Noah
2010 female  Isabella    Sophia      Emma     Olivia          Ava
     male       Jacob     Ethan   Michael     Jayden      William
2009 female  Isabella      Emma    Olivia     Sophia          Ava
     male       Jacob     Ethan   Michael  Alexander      William
2008 female      Emma  Isabella     Emily     Olivia          Ava
     male       Jacob   Michael     Ethan     Joshua       Daniel
2007 female     Emily  Isabella      Emma        Ava      Madison
     male       Jacob   Michael     Ethan     Joshua       Daniel
2006 female     Emily      Emma   Madison   Isabella          Ava
     male       Jacob   Michael    Joshua      Ethan      Matthew
2005 female     Emily      Emma   Madison    Abigail       Olivia
     male       Jacob   Michael    Joshua    Matthew        Ethan
2004 female     Emily      Emma   Madison     Olivia       Hannah
     male       Jacob   Michael    Joshua    Matthew        Ethan
2003 female     Emily      Emma   Madison     Hannah       Olivia
     male       Jacob   Michael    Joshua    Matthew       Andrew
2002 female     Emily   Madison    Hannah       Emma       Alexis
     male       Jacob   Michael    Joshua    Matthew        Ethan
2001 female     Emily   Madison    Hannah     Ashley       Alexis
     male       Jacob   Michael   Matthew     Joshua  Christopher
2000 female     Emily    Hannah   Madison     Ashley        Sarah
     male       Jacob   Michael   Matthew     Joshua  Christopher
1999 female     Emily    Hannah    Alexis      Sarah     Samantha
     male       Jacob   Michael   Matthew     Joshua     Nicholas
...               ...       ...       ...        ...          ...
1928 female      Mary     Betty   Dorothy      Helen     Margaret
     male      Robert      John     James    William      Charles
1927 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John     James    William      Charles
1926 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John     James    William      Charles
1925 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John   William      James      Charles
1924 female      Mary   Dorothy     Helen      Betty     Margaret
     male      Robert      John   William      James      Charles
1923 female      Mary   Dorothy     Helen   Margaret        Betty
     male        John    Robert   William      James      Charles
1922 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John    Robert   William      James      Charles
1921 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John    Robert   William      James      Charles
1920 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John   William    Robert      James      Charles
1919 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert      Charles
1918 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert      Charles
1917 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1916 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1915 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1914 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph

[200 rows x 5 columns]

In [15]:
baby_names.head()

        female                                      male                  \
             1         2         3         4    5      1      2        3
2013    Sophia      Emma    Olivia  Isabella  Ava   Noah   Liam    Jacob
2012    Sophia      Emma  Isabella    Olivia  Ava  Jacob  Mason    Ethan
2011    Sophia  Isabella      Emma    Olivia  Ava  Jacob  Mason  William
2010  Isabella    Sophia      Emma    Olivia  Ava  Jacob  Ethan  Michael
2009  Isabella      Emma    Olivia    Sophia  Ava  Jacob  Ethan  Michael


              4        5
2013      Mason  William
2012       Noah  William
2011     Jayden     Noah
2010     Jayden  William
2009  Alexander  William

In [17]:
baby_names["male"]

,1,2,3,4,5
2013,Noah,Liam,Jacob,Mason,William
2012,Jacob,Mason,Ethan,Noah,William
2011,Jacob,Mason,William,Jayden,Noah
2010,Jacob,Ethan,Michael,Jayden,William
2009,Jacob,Ethan,Michael,Alexander,William
2008,Jacob,Michael,Ethan,Joshua,Daniel
2007,Jacob,Michael,Ethan,Joshua,Daniel
2006,Jacob,Michael,Joshua,Ethan,Matthew
2005,Jacob,Michael,Joshua,Matthew,Ethan
2004,Jacob,Michael,Joshua,Matthew,Ethan
2003,Jacob,Michael,Joshua,Matthew,Andrew
2002,Jacob,Michael,Joshua,Matthew,Ethan
2001,Jacob,Michael,Matthew,Joshua,Christopher
2000,Jacob,Michael,Matthew,Joshua,Christopher
1999,Jacob,Michael,Matthew,Joshua,Nicholas
1998,Michael,Jacob,Matthew,Joshua,Christopher
1997,Michael,Jacob,Matthew,Christopher,Joshua
1996,Michael,Matthew,Jacob,Christopher,Joshua
1995,Michael,Matthew,Christopher,Jacob,Joshua
1994,Michael,Christopher,Matthew,Joshua,Tyler
1993,Michael,Christopher,Matthew,Joshua,Tyler
1992,Michael,Christopher,Matthew,Joshua,Andrew
1991,Michael,Christopher,Matthew,Joshua,Andrew
1990,Michael,Christopher,Matthew,Joshua,Daniel
1989,Michael,Christopher,Matthew,Joshua,David
1988,Michael,Christopher,Matthew,Joshua,Andrew
1987,Michael,Christopher,Matthew,Joshua,David
1986,Michael,Christopher,Matthew,Joshua,David
1985,Michael,Christopher,Matthew,Joshua,Daniel
1984,Michael,Christopher,Matthew,Joshua,David
...,...,...,...,...,...
1940,James,Robert,John,William,Richard
1939,Robert,James,John,William,Richard
1938,Robert,James,John,William,Richard
1937,Robert,James,John,William,Richard
1936,Robert,James,John,William,Richard
1935,Robert,James,John,William,Richard
1934,Robert,James,John,William,Richard
1933,Robert,James,John,William,Richard
1932,Robert,James,John,William,Richard
1931,Robert,James,John,William,Richard
1930,Robert,James,John,William,Richard
1929,Robert,James,John,William,Charles
1928,Robert,John,James,William,Charles
1927,Robert,John,James,William,Charles
1926,Robert,John,James,William,Charles
1925,Robert,John,William,James,Charles
1924,Robert,John,William,James,Charles
1923,John,Robert,William,James,Charles
1922,John,Robert,William,James,Charles
1921,John,Robert,William,James,Charles
1920,John,William,Robert,James,Charles
1919,John,William,James,Robert,Charles
1918,John,William,James,Robert,Charles
1917,John,William,James,Robert,Joseph
1916,John,William,James,Robert,Joseph
1915,John,William,James,Robert,Joseph
1914,John,William,James,Robert,Joseph
NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN
"Copyright © 2014, SAS Institute Inc., Cary, NC, USA. All Rights Reserved.",NaN,NaN,NaN,NaN,NaN

In [18]:
baby_names = baby_names[:-3]

In [19]:
baby_names

        female                                             male               \
             1         2         3         4         5        1            2
2013    Sophia      Emma    Olivia  Isabella       Ava     Noah         Liam
2012    Sophia      Emma  Isabella    Olivia       Ava    Jacob        Mason
2011    Sophia  Isabella      Emma    Olivia       Ava    Jacob        Mason
2010  Isabella    Sophia      Emma    Olivia       Ava    Jacob        Ethan
2009  Isabella      Emma    Olivia    Sophia       Ava    Jacob        Ethan
2008      Emma  Isabella     Emily    Olivia       Ava    Jacob      Michael
2007     Emily  Isabella      Emma       Ava   Madison    Jacob      Michael
2006     Emily      Emma   Madison  Isabella       Ava    Jacob      Michael
2005     Emily      Emma   Madison   Abigail    Olivia    Jacob      Michael
2004     Emily      Emma   Madison    Olivia    Hannah    Jacob      Michael
2003     Emily      Emma   Madison    Hannah    Olivia    Jacob      Michael
2002     Emily   Madison    Hannah      Emma    Alexis    Jacob      Michael
2001     Emily   Madison    Hannah    Ashley    Alexis    Jacob      Michael
2000     Emily    Hannah   Madison    Ashley     Sarah    Jacob      Michael
1999     Emily    Hannah    Alexis     Sarah  Samantha    Jacob      Michael
1998     Emily    Hannah  Samantha    Ashley     Sarah  Michael        Jacob
1997     Emily   Jessica    Ashley     Sarah    Hannah  Michael        Jacob
1996     Emily   Jessica    Ashley     Sarah  Samantha  Michael      Matthew
1995   Jessica    Ashley     Emily  Samantha     Sarah  Michael      Matthew
1994   Jessica    Ashley     Emily  Samantha     Sarah  Michael  Christopher
1993   Jessica    Ashley     Sarah  Samantha     Emily  Michael  Christopher
1992    Ashley   Jessica    Amanda  Brittany     Sarah  Michael  Christopher
1991    Ashley   Jessica  Brittany    Amanda  Samantha  Michael  Christopher
1990   Jessica    Ashley  Brittany    Amanda  Samantha  Michael  Christopher
1989   Jessica    Ashley  Brittany    Amanda     Sarah  Michael  Christopher
1988   Jessica    Ashley    Amanda     Sarah  Jennifer  Michael  Christopher
1987   Jessica    Ashley    Amanda  Jennifer     Sarah  Michael  Christopher
1986   Jessica    Ashley    Amanda  Jennifer     Sarah  Michael  Christopher
1985   Jessica    Ashley  Jennifer    Amanda     Sarah  Michael  Christopher
1984  Jennifer   Jessica    Ashley    Amanda     Sarah  Michael  Christopher
...        ...       ...       ...       ...       ...      ...          ...
1943      Mary   Barbara  Patricia     Linda     Carol    James       Robert
1942      Mary   Barbara  Patricia     Linda     Carol    James       Robert
1941      Mary   Barbara  Patricia     Carol     Linda    James       Robert
1940      Mary   Barbara  Patricia    Judith     Betty    James       Robert
1939      Mary   Barbara  Patricia     Betty   Shirley   Robert        James
1938      Mary   Barbara  Patricia     Betty   Shirley   Robert        James
1937      Mary   Barbara  Patricia   Shirley     Betty   Robert        James
1936      Mary   Shirley   Barbara     Betty  Patricia   Robert        James
1935      Mary   Shirley   Barbara     Betty  Patricia   Robert        James
1934      Mary     Betty   Barbara   Shirley   Dorothy   Robert        James
1933      Mary     Betty   Barbara   Dorothy      Joan   Robert        James
1932      Mary     Betty   Barbara   Dorothy      Joan   Robert        James
1931      Mary     Betty   Dorothy   Barbara      Joan   Robert        James
1930      Mary     Betty   Dorothy     Helen  Margaret   Robert        James
1929      Mary     Betty   Dorothy     Helen  Margaret   Robert        James
1928      Mary     Betty   Dorothy     Helen  Margaret   Robert         John
1927      Mary   Dorothy     Betty     Helen  Margaret   Robert         John
1926      Mary   Dorothy     Betty     Helen  Margaret   Robert         John
1925      Mary   Dorothy     Betty     Helen  Margaret   Robert         John
1924      Mary   Dorothy     Helen     Betty  Margaret   Robert         John
1923      Mary   Dorothy     Helen  Margaret     Betty     John       Robert
1922      Mary   Dorothy     Helen  Margaret      Ruth     John       Robert
1921      Mary   Dorothy     Helen  Margaret      Ruth     John       Robert
1920      Mary   Dorothy     Helen  Margaret      Ruth     John      William
1919      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1918      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1917      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1916      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1915      Mary     Helen   Dorothy  Margaret      Ruth     John      William
1914      Mary     Helen   Dorothy  Margaret      Ruth     John      William


                3            4            5
2013        Jacob        Mason      William
2012        Ethan         Noah      William
2011      William       Jayden         Noah
2010      Michael       Jayden      William
2009      Michael    Alexander      William
2008        Ethan       Joshua       Daniel
2007        Ethan       Joshua       Daniel
2006       Joshua        Ethan      Matthew
2005       Joshua      Matthew        Ethan
2004       Joshua      Matthew        Ethan
2003       Joshua      Matthew       Andrew
2002       Joshua      Matthew        Ethan
2001      Matthew       Joshua  Christopher
2000      Matthew       Joshua  Christopher
1999      Matthew       Joshua     Nicholas
1998      Matthew       Joshua  Christopher
1997      Matthew  Christopher       Joshua
1996        Jacob  Christopher       Joshua
1995  Christopher        Jacob       Joshua
1994      Matthew       Joshua        Tyler
1993      Matthew       Joshua        Tyler
1992      Matthew       Joshua       Andrew
1991      Matthew       Joshua       Andrew
1990      Matthew       Joshua       Daniel
1989      Matthew       Joshua        David
1988      Matthew       Joshua       Andrew
1987      Matthew       Joshua        David
1986      Matthew       Joshua        David
1985      Matthew       Joshua       Daniel
1984      Matthew       Joshua        David
...           ...          ...          ...
1943         John      William      Richard
1942         John      William      Richard
1941         John      William      Richard
1940         John      William      Richard
1939         John      William      Richard
1938         John      William      Richard
1937         John      William      Richard
1936         John      William      Richard
1935         John      William      Richard
1934         John      William      Richard
1933         John      William      Richard
1932         John      William      Richard
1931         John      William      Richard
1930         John      William      Richard
1929         John      William      Charles
1928        James      William      Charles
1927        James      William      Charles
1926        James      William      Charles
1925      William        James      Charles
1924      William        James      Charles
1923      William        James      Charles
1922      William        James      Charles
1921      William        James      Charles
1920       Robert        James      Charles
1919        James       Robert      Charles
1918        James       Robert      Charles
1917        James       Robert       Joseph
1916        James       Robert       Joseph
1915        James       Robert       Joseph
1914        James       Robert       Joseph

[100 rows x 10 columns]

In [20]:
baby_names[:4]

        female                                      male                  \
             1         2         3         4    5      1      2        3
2013    Sophia      Emma    Olivia  Isabella  Ava   Noah   Liam    Jacob
2012    Sophia      Emma  Isabella    Olivia  Ava  Jacob  Mason    Ethan
2011    Sophia  Isabella      Emma    Olivia  Ava  Jacob  Mason  William
2010  Isabella    Sophia      Emma    Olivia  Ava  Jacob  Ethan  Michael


           4        5
2013   Mason  William
2012    Noah  William
2011  Jayden     Noah
2010  Jayden  William

In [21]:
baby_names.xs?

In [22]:
baby_names.xs("2013")

female  1      Sophia
        2        Emma
        3      Olivia
        4    Isabella
        5         Ava
male    1        Noah
        2        Liam
        3       Jacob
        4       Mason
        5     William
Name: 2013, dtype: object

In [23]:
gender_stack = baby_names.stack(0)

In [24]:
gender_stack.head(0)

                    1         2         3          4            5
2013 female    Sophia      Emma    Olivia   Isabella          Ava
     male        Noah      Liam     Jacob      Mason      William
2012 female    Sophia      Emma  Isabella     Olivia          Ava
     male       Jacob     Mason     Ethan       Noah      William
2011 female    Sophia  Isabella      Emma     Olivia          Ava
     male       Jacob     Mason   William     Jayden         Noah
2010 female  Isabella    Sophia      Emma     Olivia          Ava
     male       Jacob     Ethan   Michael     Jayden      William
2009 female  Isabella      Emma    Olivia     Sophia          Ava
     male       Jacob     Ethan   Michael  Alexander      William
2008 female      Emma  Isabella     Emily     Olivia          Ava
     male       Jacob   Michael     Ethan     Joshua       Daniel
2007 female     Emily  Isabella      Emma        Ava      Madison
     male       Jacob   Michael     Ethan     Joshua       Daniel
2006 female     Emily      Emma   Madison   Isabella          Ava
     male       Jacob   Michael    Joshua      Ethan      Matthew
2005 female     Emily      Emma   Madison    Abigail       Olivia
     male       Jacob   Michael    Joshua    Matthew        Ethan
2004 female     Emily      Emma   Madison     Olivia       Hannah
     male       Jacob   Michael    Joshua    Matthew        Ethan
2003 female     Emily      Emma   Madison     Hannah       Olivia
     male       Jacob   Michael    Joshua    Matthew       Andrew
2002 female     Emily   Madison    Hannah       Emma       Alexis
     male       Jacob   Michael    Joshua    Matthew        Ethan
2001 female     Emily   Madison    Hannah     Ashley       Alexis
     male       Jacob   Michael   Matthew     Joshua  Christopher
2000 female     Emily    Hannah   Madison     Ashley        Sarah
     male       Jacob   Michael   Matthew     Joshua  Christopher
1999 female     Emily    Hannah    Alexis      Sarah     Samantha
     male       Jacob   Michael   Matthew     Joshua     Nicholas
...               ...       ...       ...        ...          ...
1928 female      Mary     Betty   Dorothy      Helen     Margaret
     male      Robert      John     James    William      Charles
1927 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John     James    William      Charles
1926 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John     James    William      Charles
1925 female      Mary   Dorothy     Betty      Helen     Margaret
     male      Robert      John   William      James      Charles
1924 female      Mary   Dorothy     Helen      Betty     Margaret
     male      Robert      John   William      James      Charles
1923 female      Mary   Dorothy     Helen   Margaret        Betty
     male        John    Robert   William      James      Charles
1922 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John    Robert   William      James      Charles
1921 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John    Robert   William      James      Charles
1920 female      Mary   Dorothy     Helen   Margaret         Ruth
     male        John   William    Robert      James      Charles
1919 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert      Charles
1918 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert      Charles
1917 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1916 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1915 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph
1914 female      Mary     Helen   Dorothy   Margaret         Ruth
     male        John   William     James     Robert       Joseph

[200 rows x 5 columns]

In [27]:
baby_names.xs("2013")["1"]

KeyError: '1'

In [28]:
gender_stack.index.set_names(["year", "gender"], inplace=True)

In [29]:
gender_stack.head()

                  1         2         3         4        5
year gender
2013 female  Sophia      Emma    Olivia  Isabella      Ava
     male      Noah      Liam     Jacob     Mason  William
2012 female  Sophia      Emma  Isabella    Olivia      Ava
     male     Jacob     Mason     Ethan      Noah  William
2011 female  Sophia  Isabella      Emma    Olivia      Ava

In [32]:
gender_stack.xs("female", level="gender")["1"]

year
2013      Sophia
2012      Sophia
2011      Sophia
2010    Isabella
2009    Isabella
2008        Emma
2007       Emily
2006       Emily
2005       Emily
2004       Emily
2003       Emily
2002       Emily
2001       Emily
2000       Emily
1999       Emily
1998       Emily
1997       Emily
1996       Emily
1995     Jessica
1994     Jessica
1993     Jessica
1992      Ashley
1991      Ashley
1990     Jessica
1989     Jessica
1988     Jessica
1987     Jessica
1986     Jessica
1985     Jessica
1984    Jennifer
          ...
1943        Mary
1942        Mary
1941        Mary
1940        Mary
1939        Mary
1938        Mary
1937        Mary
1936        Mary
1935        Mary
1934        Mary
1933        Mary
1932        Mary
1931        Mary
1930        Mary
1929        Mary
1928        Mary
1927        Mary
1926        Mary
1925        Mary
1924        Mary
1923        Mary
1922        Mary
1921        Mary
1920        Mary
1919        Mary
1918        Mary
1917        Mary
1916        Mary
1915        Mary
1914        Mary
Name: 1, dtype: object

In [33]:
baby_names.loc["2013"]

female  1      Sophia
        2        Emma
        3      Olivia
        4    Isabella
        5         Ava
male    1        Noah
        2        Liam
        3       Jacob
        4       Mason
        5     William
Name: 2013, dtype: object

In [34]:
baby_names.ix["2013"]

female  1      Sophia
        2        Emma
        3      Olivia
        4    Isabella
        5         Ava
male    1        Noah
        2        Liam
        3       Jacob
        4       Mason
        5     William
Name: 2013, dtype: object

In [35]:
baby_names.ix[2]

female  1      Sophia
        2    Isabella
        3        Emma
        4      Olivia
        5         Ava
male    1       Jacob
        2       Mason
        3     William
        4      Jayden
        5        Noah
Name: 2011, dtype: object