In [1]:
import pandas as pd
import numpy as np

In [2]:
!head 12_Topic_en_csv_v2.csv

In [37]:
df = pd.read_csv("12_Topic_en_csv_v2.csv", header=2)

In [38]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,Unnamed: 59
0,Aruba,ABW,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.255073,86.009279,85.853038,89.271622,90.750002,97.672167,NaN,NaN,NaN,NaN
1,Aruba,ABW,Insurance and financial services (% of service...,BM.GSR.INSF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.809506,1.920478,1.963268,2.274744,2.047697,1.477597,2.296736,2.371829,NaN,NaN
2,Aruba,ABW,Insurance and financial services (% of service...,BX.GSR.INSF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.413401,0.455667,0.515769,0.878881,0.927451,0.970454,0.942229,0.749252,NaN,NaN
3,Aruba,ABW,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,54.959095,52.790202,51.584978,57.120089,58.464522,57.412579,NaN,NaN,NaN,NaN
4,Aruba,ABW,Distance to frontier score (0=lowest performan...,IC.BUS.DFRN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37101 entries, 0 to 37100
Data columns (total 60 columns):
Country Name      37101 non-null object
Country Code      36952 non-null object
Indicator Name    37101 non-null object
Indicator Code    37101 non-null object
1960              3054 non-null float64
1961              3134 non-null float64
1962              3739 non-null float64
1963              3931 non-null float64
1964              4071 non-null float64
1965              4098 non-null float64
1966              4184 non-null float64
1967              4228 non-null float64
1968              4292 non-null float64
1969              4278 non-null float64
1970              4503 non-null float64
1971              4504 non-null float64
1972              4561 non-null float64
1973              4631 non-null float64
1974              4699 non-null float64
1975              4691 non-null float64
1976              4677 non-null float64
1977              4671 non-null float64
1978              4663 non-null float64
1979              4639 non-null float64
1980              5149 non-null float64
1981              5519 non-null float64
1982              5456 non-null float64
1983              5494 non-null float64
1984              5469 non-null float64
1985              5513 non-null float64
1986              5522 non-null float64
1987              5580 non-null float64
1988              6260 non-null float64
1989              6382 non-null float64
1990              6520 non-null float64
1991              6567 non-null float64
1992              7032 non-null float64
1993              7622 non-null float64
1994              7574 non-null float64
1995              10096 non-null float64
1996              10636 non-null float64
1997              10922 non-null float64
1998              10793 non-null float64
1999              11202 non-null float64
2000              12012 non-null float64
2001              12941 non-null float64
2002              13353 non-null float64
2003              13500 non-null float64
2004              14242 non-null float64
2005              21191 non-null float64
2006              21763 non-null float64
2007              23380 non-null float64
2008              21658 non-null float64
2009              22740 non-null float64
2010              23486 non-null float64
2011              20707 non-null float64
2012              22598 non-null float64
2013              21630 non-null float64
2014              15099 non-null float64
Unnamed: 59       0 non-null float64
dtypes: float64(56), object(4)
memory usage: 17.3+ MB

In [39]:
#Nothing in this field so lets trash it
df = df.drop("Unnamed: 59", axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37101 entries, 0 to 37100
Data columns (total 59 columns):
Country Name      37101 non-null object
Country Code      36952 non-null object
Indicator Name    37101 non-null object
Indicator Code    37101 non-null object
1960              3054 non-null float64
1961              3134 non-null float64
1962              3739 non-null float64
1963              3931 non-null float64
1964              4071 non-null float64
1965              4098 non-null float64
1966              4184 non-null float64
1967              4228 non-null float64
1968              4292 non-null float64
1969              4278 non-null float64
1970              4503 non-null float64
1971              4504 non-null float64
1972              4561 non-null float64
1973              4631 non-null float64
1974              4699 non-null float64
1975              4691 non-null float64
1976              4677 non-null float64
1977              4671 non-null float64
1978              4663 non-null float64
1979              4639 non-null float64
1980              5149 non-null float64
1981              5519 non-null float64
1982              5456 non-null float64
1983              5494 non-null float64
1984              5469 non-null float64
1985              5513 non-null float64
1986              5522 non-null float64
1987              5580 non-null float64
1988              6260 non-null float64
1989              6382 non-null float64
1990              6520 non-null float64
1991              6567 non-null float64
1992              7032 non-null float64
1993              7622 non-null float64
1994              7574 non-null float64
1995              10096 non-null float64
1996              10636 non-null float64
1997              10922 non-null float64
1998              10793 non-null float64
1999              11202 non-null float64
2000              12012 non-null float64
2001              12941 non-null float64
2002              13353 non-null float64
2003              13500 non-null float64
2004              14242 non-null float64
2005              21191 non-null float64
2006              21763 non-null float64
2007              23380 non-null float64
2008              21658 non-null float64
2009              22740 non-null float64
2010              23486 non-null float64
2011              20707 non-null float64
2012              22598 non-null float64
2013              21630 non-null float64
2014              15099 non-null float64
dtypes: float64(55), object(4)
memory usage: 17.0+ MB

In [8]:
df[ df['Country Code'] == 'USA'].head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
34866,United States,USA,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.173890,5.469920,5.946869,6.399224,6.238576,6.499711,6.853641,6.837828,6.855572,6.818480
34867,United States,USA,Insurance and financial services (% of service...,BM.GSR.INSF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.412667,15.862320,17.906021,18.611434,20.220888,18.807215,16.757924,15.582527,14.960347,14.419456
34868,United States,USA,Insurance and financial services (% of service...,BX.GSR.INSF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,12.719167,13.756332,14.786657,14.344432,15.412671,15.398612,14.875298,14.222908,14.571195,14.821847
34869,United States,USA,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,70.874831,75.080117,75.550938,80.29438,83.142709,86.137022,...,187.847509,197.707120,206.302777,188.024095,196.528855,190.706685,182.351953,185.997621,192.271807,195.628226
34870,United States,USA,Distance to frontier score (0=lowest performan...,IC.BUS.DFRN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,85.720000,85.720000,85.650000,84.940000,81.960000,81.980000

In [9]:
df.keys()

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014'],
      dtype='object')

In [10]:
# Let's grab the crime-ish columns
crimedf = df[ df['Indicator Code'].isin(['IC.FRM.BRIB.ZS', 'IC.FRM.CMPU.ZS', 'IC.FRM.CORR.ZS', 'IC.FRM.CRIM.ZS'])]

In [11]:
crimedf.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
18,Aruba,ABW,Bribery incidence (% of firms experiencing at ...,IC.FRM.BRIB.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Aruba,ABW,Firms competing against unregistered firms (% ...,IC.FRM.CMPU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Aruba,ABW,Informal payments to public officials (% of fi...,IC.FRM.CORR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Aruba,ABW,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,Andorra,AND,Bribery incidence (% of firms experiencing at ...,IC.FRM.BRIB.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
crimedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 18 to 36973
Data columns (total 59 columns):
Country Name      996 non-null object
Country Code      992 non-null object
Indicator Name    996 non-null object
Indicator Code    996 non-null object
1960              0 non-null float64
1961              0 non-null float64
1962              0 non-null float64
1963              0 non-null float64
1964              0 non-null float64
1965              0 non-null float64
1966              0 non-null float64
1967              0 non-null float64
1968              0 non-null float64
1969              0 non-null float64
1970              0 non-null float64
1971              0 non-null float64
1972              0 non-null float64
1973              0 non-null float64
1974              0 non-null float64
1975              0 non-null float64
1976              0 non-null float64
1977              0 non-null float64
1978              0 non-null float64
1979              0 non-null float64
1980              0 non-null float64
1981              0 non-null float64
1982              0 non-null float64
1983              0 non-null float64
1984              0 non-null float64
1985              0 non-null float64
1986              0 non-null float64
1987              0 non-null float64
1988              0 non-null float64
1989              0 non-null float64
1990              0 non-null float64
1991              0 non-null float64
1992              0 non-null float64
1993              0 non-null float64
1994              0 non-null float64
1995              0 non-null float64
1996              0 non-null float64
1997              0 non-null float64
1998              0 non-null float64
1999              0 non-null float64
2000              0 non-null float64
2001              0 non-null float64
2002              52 non-null float64
2003              10 non-null float64
2004              5 non-null float64
2005              67 non-null float64
2006              137 non-null float64
2007              65 non-null float64
2008              32 non-null float64
2009              215 non-null float64
2010              140 non-null float64
2011              24 non-null float64
2012              12 non-null float64
2013              187 non-null float64
2014              43 non-null float64
dtypes: float64(55), object(4)
memory usage: 466.9+ KB

The data is showing that most countries are reported so lets take the best of the years

In [14]:
crime_pivot=crimedf.pivot_table(index='Country Code', values='2013', columns="Indicator Code")

In [15]:
crime_pivot

Indicator Code  IC.FRM.BRIB.ZS  IC.FRM.CMPU.ZS  IC.FRM.CORR.ZS  IC.FRM.CRIM.ZS
Country Code
ABW                        NaN             NaN             NaN             NaN
AFG                        NaN             NaN             NaN             NaN
AGO                        NaN             NaN             NaN             NaN
ALB                       19.5            40.2            18.3             0.0
AND                        NaN             NaN             NaN             NaN
ARB                        NaN             NaN             NaN             NaN
ARE                        NaN             NaN             NaN             NaN
ARG                        NaN             NaN             NaN             NaN
ARM                        7.1            12.8             4.6             0.1
ASM                        NaN             NaN             NaN             NaN
ATG                        NaN             NaN             NaN             NaN
AUS                        NaN             NaN             NaN             NaN
AUT                        NaN             NaN             NaN             NaN
AZE                       15.3            18.4             6.8             0.0
BDI                        NaN             NaN             NaN             NaN
BEL                        NaN             NaN             NaN             NaN
BEN                        NaN             NaN             NaN             NaN
BFA                        NaN             NaN             NaN             NaN
BGD                       47.7            39.4            48.5             0.3
BGR                        8.9            59.2            18.2             0.7
BHR                        NaN             NaN             NaN             NaN
BHS                        NaN             NaN             NaN             NaN
BIH                       10.7            44.0             5.9             0.3
BLR                        8.9            42.8            13.2             0.4
BLZ                        NaN             NaN             NaN             NaN
BMU                        NaN             NaN             NaN             NaN
BOL                        NaN             NaN             NaN             NaN
BRA                        NaN             NaN             NaN             NaN
BRB                        NaN             NaN             NaN             NaN
BRN                        NaN             NaN             NaN             NaN
...                        ...             ...             ...             ...
TCA                        NaN             NaN             NaN             NaN
TCD                        NaN             NaN             NaN             NaN
TGO                        NaN             NaN             NaN             NaN
THA                        NaN             NaN             NaN             NaN
TJK                       36.3            34.5            37.2             0.5
TKM                        NaN             NaN             NaN             NaN
TLS                        NaN             NaN             NaN             NaN
TON                        NaN             NaN             NaN             NaN
TTO                        NaN             NaN             NaN             NaN
TUN                       10.3            45.2             5.7             1.0
TUR                        5.4            40.0             5.8             0.2
TUV                        NaN             NaN             NaN             NaN
TZA                       20.8            72.6            20.1             1.0
UGA                       22.0            95.2            27.8             0.7
UKR                       50.4            50.1            73.1             0.4
UMC                        NaN             NaN             NaN             NaN
URY                        NaN             NaN             NaN             NaN
USA                        NaN             NaN             NaN             NaN
UZB                        7.0            15.8             3.5             0.1
VCT                        NaN             NaN             NaN             NaN
VEN                        NaN             NaN             NaN             NaN
VIR                        NaN             NaN             NaN             NaN
VNM                        NaN             NaN             NaN             NaN
VUT                        NaN             NaN             NaN             NaN
WLD                        NaN             NaN             NaN             NaN
WSM                        NaN             NaN             NaN             NaN
YEM                       64.3            43.0            55.0             0.6
ZAF                        NaN             NaN             NaN             NaN
ZMB                       15.8            78.3             9.5             2.3
ZWE                        NaN             NaN             NaN             NaN

[248 rows x 4 columns]

In [16]:
crime_pivot = crime_pivot.dropna(thresh=4)

In [17]:
crime_pivot.head()

Indicator Code  IC.FRM.BRIB.ZS  IC.FRM.CMPU.ZS  IC.FRM.CORR.ZS  IC.FRM.CRIM.ZS
Country Code
ALB                       19.5            40.2            18.3             0.0
ARM                        7.1            12.8             4.6             0.1
AZE                       15.3            18.4             6.8             0.0
BGD                       47.7            39.4            48.5             0.3
BGR                        8.9            59.2            18.2             0.7

# Correlation

In [18]:
crime_pivot['IC.FRM.BRIB.ZS'].corr(crime_pivot['IC.FRM.CMPU.ZS'])

0.31445060392087998

Not too strong of one

In [20]:
crime_pivot['IC.FRM.BRIB.ZS'].corr(crime_pivot['IC.FRM.CORR.ZS'])

0.86287047061895661

0.8 is really close to the +1 of the correlation scale.  It makes sense since the bribery and corruption would go hand in hand.

In [21]:
crime_elect = df[ df['Indicator Code'].isin(['IC.FRM.CRIM.ZS', 'IC.FRM.OUTG.ZS'])]

In [22]:
crime_elect.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
21,Aruba,ABW,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Aruba,ABW,Value lost due to electrical outages (% of sales),IC.FRM.OUTG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,Andorra,AND,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Andorra,AND,Value lost due to electrical outages (% of sales),IC.FRM.OUTG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,Afghanistan,AFG,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,2.9

In [23]:
crime_elect = crime_elect[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
            '2010', '2011', '2012', '2013', '2014']]

In [24]:
crime_elect.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2010,2011,2012,2013,2014
21,Aruba,ABW,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,NaN
27,Aruba,ABW,Value lost due to electrical outages (% of sales),IC.FRM.OUTG.ZS,NaN,NaN,NaN,NaN,NaN
170,Andorra,AND,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,NaN
176,Andorra,AND,Value lost due to electrical outages (% of sales),IC.FRM.OUTG.ZS,NaN,NaN,NaN,NaN,NaN
319,Afghanistan,AFG,"Losses due to theft, robbery, vandalism, and a...",IC.FRM.CRIM.ZS,NaN,NaN,NaN,NaN,2.9

In [25]:
crime_elect.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498 entries, 21 to 36979
Data columns (total 9 columns):
Country Name      498 non-null object
Country Code      496 non-null object
Indicator Name    498 non-null object
Indicator Code    498 non-null object
2010              70 non-null float64
2011              12 non-null float64
2012              5 non-null float64
2013              94 non-null float64
2014              21 non-null float64
dtypes: float64(5), object(4)
memory usage: 38.9+ KB

In [26]:
ce_pivot = crime_elect.pivot_table(index="Country Code", columns="Indicator Code", values='2013')

In [28]:
ce_pivot = ce_pivot.dropna(thresh=2)

In [29]:
ce_pivot.head()

Indicator Code  IC.FRM.CRIM.ZS  IC.FRM.OUTG.ZS
Country Code
ALB                        0.0             2.6
ARM                        0.1             0.1
AZE                        0.0             0.1
BGD                        0.3             3.7
BGR                        0.7             0.4

In [31]:
ce_pivot['IC.FRM.CRIM.ZS'].corr(ce_pivot['IC.FRM.OUTG.ZS'])

0.3999615627866499

##Multiple values for pivot table

In [32]:
access_pivot = crime_elect.pivot_table(index="Country Code", columns="Indicator Code", values=['2013', '2014'])

In [33]:
access_pivot.head()

                         2013                          2014
Indicator Code IC.FRM.CRIM.ZS IC.FRM.OUTG.ZS IC.FRM.CRIM.ZS IC.FRM.OUTG.ZS
Country Code
ABW                       NaN            NaN            NaN            NaN
AFG                       NaN            NaN            2.9            5.1
AGO                       NaN            NaN            NaN            NaN
ALB                         0            2.6            NaN            NaN
AND                       NaN            NaN            NaN            NaN

In [34]:
access_pivot['2014']

Indicator Code  IC.FRM.CRIM.ZS  IC.FRM.OUTG.ZS
Country Code
ABW                        NaN             NaN
AFG                        2.9             5.1
AGO                        NaN             NaN
ALB                        NaN             NaN
AND                        NaN             NaN
ARB                        NaN             NaN
ARE                        NaN             NaN
ARG                        NaN             NaN
ARM                        NaN             NaN
ASM                        NaN             NaN
ATG                        NaN             NaN
AUS                        NaN             NaN
AUT                        NaN             NaN
AZE                        NaN             NaN
BDI                        0.4             2.6
BEL                        NaN             NaN
BEN                        NaN             NaN
BFA                        NaN             NaN
BGD                        NaN             NaN
BGR                        NaN             NaN
BHR                        NaN             NaN
BHS                        NaN             NaN
BIH                        NaN             NaN
BLR                        NaN             NaN
BLZ                        NaN             NaN
BMU                        NaN             NaN
BOL                        NaN             NaN
BRA                        NaN             NaN
BRB                        NaN             NaN
BRN                        NaN             NaN
...                        ...             ...
TCA                        NaN             NaN
TCD                        NaN             NaN
TGO                        NaN             NaN
THA                        NaN             NaN
TJK                        NaN             NaN
TKM                        NaN             NaN
TLS                        NaN             NaN
TON                        NaN             NaN
TTO                        NaN             NaN
TUN                        NaN             NaN
TUR                        NaN             NaN
TUV                        NaN             NaN
TZA                        NaN             NaN
UGA                        NaN             NaN
UKR                        NaN             NaN
UMC                        NaN             NaN
URY                        NaN             NaN
USA                        NaN             NaN
UZB                        NaN             NaN
VCT                        NaN             NaN
VEN                        NaN             NaN
VIR                        NaN             NaN
VNM                        NaN             NaN
VUT                        NaN             NaN
WLD                        NaN             NaN
WSM                        NaN             NaN
YEM                        NaN             NaN
ZAF                        NaN             NaN
ZMB                        NaN             NaN
ZWE                        NaN             NaN

[248 rows x 2 columns]

In [35]:
access_pivot['2013']['IC.FRM.CRIM.ZS']

Country Code
ABW    NaN
AFG    NaN
AGO    NaN
ALB    0.0
AND    NaN
ARB    NaN
ARE    NaN
ARG    NaN
ARM    0.1
ASM    NaN
ATG    NaN
AUS    NaN
AUT    NaN
AZE    0.0
BDI    NaN
BEL    NaN
BEN    NaN
BFA    NaN
BGD    0.3
BGR    0.7
BHR    NaN
BHS    NaN
BIH    0.3
BLR    0.4
BLZ    NaN
BMU    NaN
BOL    NaN
BRA    NaN
BRB    NaN
BRN    NaN
      ...
TCA    NaN
TCD    NaN
TGO    NaN
THA    NaN
TJK    0.5
TKM    NaN
TLS    NaN
TON    NaN
TTO    NaN
TUN    1.0
TUR    0.2
TUV    NaN
TZA    1.0
UGA    0.7
UKR    0.4
UMC    NaN
URY    NaN
USA    NaN
UZB    0.1
VCT    NaN
VEN    NaN
VIR    NaN
VNM    NaN
VUT    NaN
WLD    NaN
WSM    NaN
YEM    0.6
ZAF    NaN
ZMB    2.3
ZWE    NaN
Name: IC.FRM.CRIM.ZS, dtype: float64

# More resources

* [Correlation and Covariance Primer](http://support.minitab.com/en-us/minitab/17/topic-library/modeling-statistics/regression-and-correlation/correlation-and-covariance/basics-of-correlation-and-covariance/)
* [Pivot tables](http://pbpython.com/pandas-pivot-table-explained.html)